


# Action 
random_action : true
discount_factor : 0.999
abstract_dim : 2
buffer_len : 1000
batch_size : 4
device : "cuda:0"

# Training Config
n_envs : 4
timesteps : 100000
target_update_freq : 1000
learning_rate : 1e-4
weight_decay : 0
beta : 0.20
epsilon_init : 0.9
epsilon_final : 0.1

# Utils
log_freq : 100

# --- Network Candidates ----
act: &act Tanh
crar_convs: &crar_convs
  - [Conv2d, auto, 8, { kernel_size: 3, stride: 1, padding: 1}]
  - *act
  - [Conv2d, 8, 16, { kernel_size: 3, stride: 1, padding: 1}]
  - *act
  - [MaxPool2d, { kernel_size: 2 }]
  - [Conv2d, 16, 32, { kernel_size: 3, stride: 1, padding: 1}]
  - *act
  - [MaxPool2d, { kernel_size: 2 }]
  - [Flatten, { }]
  - [Linear, 4608, auto, {}]

deep_fc: &deep_fc
  - [Linear, auto, 200, {}]
  - *act
  - [Linear, 200, 100, {}]
  - *act
  - [Linear, 100, 50, {}]
  - *act
  - [Linear, 50, auto, {}]

slim_fc : &slim_fc
  - [Linear, "auto", 32, {}]
  - *act
  - [Linear, 32, "auto", {}]

# --- Models ---
encoder: *crar_convs
q_net: *deep_fc
transition_net: *deep_fc
reward_net: *slim_fc
discount_net: *slim_fc
